/********** Template CSS **********/
:root {
    --light: #f0d6fc;
    --dark: #181d38;
    --primary: #4A138C;
    --light-purple: #781FA1;
    --deep-purple: #481388;
    --deep-light-purple: #6C1D9D;
    --pink-color: #B765C4;
}

.bi-icon {
    font-size: 50px;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

/*.header-carousel .owl-nav .owl-prev,*/
/*.header-carousel .owl-nav .owl-next {*/
/*    margin: 7px 0;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    color: #FFFFFF;*/
/*    background: transparent;*/
/*    border: 1px solid #FFFFFF;*/
/*    font-size: 22px;*/
/*    transition: .5s;*/
/*}*/

/*.header-carousel .owl-nav .owl-prev:hover,*/
/*.header-carousel .owl-nav .owl-next:hover {*/
/*    background: var(--primary);*/
/*    border-color: var(--primary);*/
/*}*/

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink-color);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

/*.footer .btn.btn-link::before {*/
/*    position: relative;*/
/*    content: "\f105";*/
/*    font-family: "Font Awesome\ 5 Free";*/
/*    font-weight: 900;*/
/*    margin-right: 10px;*/
/*}*/

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/*============================================================================================ */
/* Start Courses Details Area css
============================================================================================ */


.course_details_left .course_list li .primary-btn {
    background: #f9f9f9;
    color: #7b838a;
    box-shadow: none;
    font-size: 12px;
    border-radius: 0px;
}

.primary-btn {
    display: inline-block;
    background: var(--deep-purple);
    padding: 0px 48px;
    color: #002347;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.text-uppercase {
    text-transform: uppercase !important;
}


.section_gap {
    padding: 130px 0;
}

.course_details_area .title {
    font-size: 21px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 22px;
}

.course_details_area .title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 74px;
    background: var(--deep-purple);
}

.course_details_left .course_list {
    margin-bottom: 0;
}

@media (max-width: 575px) {
    .course_details_left .course_list {
        padding-left: 0;
    }
}

.course_details_left .course_list li {
    list-style: none;
    margin-bottom: 20px;
}

.course_details_left .course_list li .primary-btn {
    background: #f9f9f9;
    color: #7b838a;
    box-shadow: none;
    font-size: 12px;
    border-radius: 0px;
}

.course_details_left .course_list li .primary-btn:hover {
    background: var(--deep-purple);
    color: #ffffff;
}

@media (max-width: 575px) {
    .course_details_left .course_list li .primary-btn {
        min-width: 100px;
        font-size: 10px;
        padding: 0 10px;
    }
}

.course_details_left .course_list li:last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .right-contents {
        margin-top: 50px;
    }
}

.right-contents ul {
    padding-left: 0;
}

.right-contents ul li {
    list-style: none;
    background: #f9f9f9;
    padding: 10px 22px;
    margin-bottom: 10px;
}

.right-contents ul li a {
    color: #7b838a;
    text-align: left;
}

.right-contents ul li a p {
    margin-bottom: 0px;
}

.right-contents ul li .or {
    color: #002347;
    font-weight: 500;
}

.right-contents .enroll {
    margin-top: 10px;
    width: 100%;
}

.right-contents .reviews span,
.right-contents .reviews .star {
    width: 31%;
    margin-bottom: 10px;
}

.right-contents .avg-review {
    background: #04091e;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 0px;
}

.right-contents .avg-review span {
    font-size: 18px;
    background: var(--deep-purple);
}

@media (max-width: 991px) {
    .right-contents .avg-review {
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .right-contents .single-reviews .thumb {
        margin-right: 10px;
    }
}

.right-contents .single-reviews h5 {
    display: inline-flex;
}

@media (max-width: 1024px) {
    .right-contents .single-reviews h5 {
        display: block;
    }
}

.right-contents .single-reviews h5 .star {
    margin-left: 10px;
}

@media (max-width: 1024px) {
    .right-contents .single-reviews h5 .star {
        margin: 10px 0;
    }
}

.right-contents .feedeback {
    margin-top: 30px;
}

.right-contents .feedeback textarea {
    resize: none;
    height: 130px;
    background: #f9f9ff;
}

.right-contents .feedeback textarea:focus {
    box-shadow: none;
}

.right-contents .star .checked {
    color: #fdc632;
}

.right-contents .comments-area {
    padding: 0;
    border: 0;
    background: transparent;
}

.right-contents .comments-area .star {
    margin-left: 20px;
}

/* End  Courses Details Area css

/*====================================================*/
/*CUSTOM CARDS*/
/*====================================================*/

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


.card {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    border-radius: 10px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 15px auto 0;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
}
.card-head {
    padding: 15px;
    border-bottom: 2px solid rebeccapurple;
}

.card-head-icon {
    border: 2px solid;
    padding: 12px;
    margin: 10px;
    border-radius: 100%;
    display: inline-block;
    height: 80px;
    width: 80px;
    font-size: 40px;
    text-align: center;
}

.custom-hover .hidden-desc {
    display: none;
}

.custom-hover:hover .hidden-desc {
    display: block;
}

.custom-icon {
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    height: 60px;
    width: 60px;
    font-size: 25px;
    background-color: white;
}

.content-detail {
    display: none;
}
/*====================================*/
/* SOCIAL LINKS BUTTONS CSS */
/*====================================*/
.footer-social a {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    padding: 10px;
}
.a-whatsapp{
    background: #075E54;
}
.a-whatsapp:hover{
    color: #075E54;
    background: #fff;
}

.a-facebook{
    background: #3b5998 ;
}
.a-facebook:hover{
    color: #3b5998 ;
    background: #fff;
}

.a-instagram{
    background: radial-gradient(ellipse at 10% 90%, #feda75  0%, transparent 55%),
    radial-gradient(ellipse at 90% 90%, #fa7e1e 0%, transparent 55%),
    radial-gradient(ellipse at 90% 10%, #d62976 0%, transparent 55%),
    radial-gradient(ellipse at 10% 10%, #962fbf 0%, transparent 55%),
    radial-gradient(ellipse at 10% 10%, #4f5bd5  0%, transparent 55%);
}
.a-instagram:hover{
    color: #d62976 ;
    background: #fff;
}

.a-pinterest{
    background: #c8232c  ;
}
.a-pinterest:hover{
    color: #c8232c  ;
    background: #fff;
}

.a-twitter{
    background: #00acee ;
}
.a-twitter:hover{
    color: #00acee ;
    background: #fff;
}

.a-linkedin{
    background: #0072b1 ;
}
.a-linkedin:hover{
    color: #0072b1 ;
    background: #fff;
}
.a-telegram{
    background: #229ED9 ;
}
.a-telegram:hover{
    color: #229ED9 ;
    background: #fff;
}
/*====================================*/
/* PRELOADER CSS*/
/*====================================*/

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}
@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}
.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}
.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #C86FFF;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}
.preloader .preloader-circle2 {
    border-top-color: #0078ff
}
.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* padding-top: 6px; */
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}
.preloader .preloader-img img {
    max-width: 70px;
    max-height: 70px;
    padding-right: 3px;
    padding-bottom: 8px;
}
.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase
}




.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}
.description:hover {
    display: block;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}

.course-item-list {
    list-style-type: circle;
    text-align: start;
}









